net "i_Clk"  LOC = "Y9" | IOSTANDARD = LVCMOS33;	# LD0 clk 100MHz
net "i_RST" LOC = "P16" | IOSTANDARD = LVCMOS33;	# BTNC
net "i_RX_Serial" LOC = "W8" | IOSTANDARD = LVCMOS33;	# JB4
net "o_TX_Serial" LOC = "V10" | IOSTANDARD = LVCMOS33;	# JB3
net "o_TX_Done"  LOC = "W11" | IOSTANDARD = LVCMOS33;	# JB2
net "o_debug"  LOC = "Y11" | IOSTANDARD = LVCMOS33;	# JA1
