//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 19 11:26:30 2018
//! **************************************************************************

SCHEMATIC START;
COMP "i_Clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "o_TX_Serial" LOCATE = SITE "V10" LEVEL 1;
COMP "i_RX_Serial" LOCATE = SITE "W8" LEVEL 1;
COMP "o_TX_Done" LOCATE = SITE "W11" LEVEL 1;
COMP "i_RST" LOCATE = SITE "P16" LEVEL 1;
TIMEGRP i_Clk = BEL "UUTuart_rx/r_SM_Main_FSM_FFd1" BEL
        "UUTuart_rx/r_SM_Main_FSM_FFd2" BEL "UUTuart_rx/r_SM_Main_FSM_FFd3"
        BEL "UUTuart_rx/r_Clk_Count_9" BEL "UUTuart_rx/r_Clk_Count_8" BEL
        "UUTuart_rx/r_Clk_Count_7" BEL "UUTuart_rx/r_Clk_Count_6" BEL
        "UUTuart_rx/r_Clk_Count_5" BEL "UUTuart_rx/r_Clk_Count_4" BEL
        "UUTuart_rx/r_Clk_Count_3" BEL "UUTuart_rx/r_Clk_Count_2" BEL
        "UUTuart_rx/r_Clk_Count_1" BEL "UUTuart_rx/r_Clk_Count_0" BEL
        "UUTuart_rx/r_Bit_Index_2" BEL "UUTuart_rx/r_Bit_Index_1" BEL
        "UUTuart_rx/r_Bit_Index_0" BEL "UUTuart_rx/r_RX_Byte_7" BEL
        "UUTuart_rx/r_RX_Byte_6" BEL "UUTuart_rx/r_RX_Byte_5" BEL
        "UUTuart_rx/r_RX_Byte_4" BEL "UUTuart_rx/r_RX_Byte_3" BEL
        "UUTuart_rx/r_RX_Byte_2" BEL "UUTuart_rx/r_RX_Byte_1" BEL
        "UUTuart_rx/r_RX_Byte_0" BEL "UUTuart_tx/r_SM_Main_FSM_FFd2" BEL
        "UUTuart_tx/r_SM_Main_FSM_FFd3" BEL "UUTuart_tx/r_SM_Main_FSM_FFd1"
        BEL "UUTuart_tx/o_TX_Serial" BEL "UUTuart_tx/r_Clk_Count_9" BEL
        "UUTuart_tx/r_Clk_Count_8" BEL "UUTuart_tx/r_Clk_Count_7" BEL
        "UUTuart_tx/r_Clk_Count_6" BEL "UUTuart_tx/r_Clk_Count_5" BEL
        "UUTuart_tx/r_Clk_Count_4" BEL "UUTuart_tx/r_Clk_Count_3" BEL
        "UUTuart_tx/r_Clk_Count_2" BEL "UUTuart_tx/r_Clk_Count_1" BEL
        "UUTuart_tx/r_Clk_Count_0" BEL "UUTuart_tx/r_Bit_Index_2" BEL
        "UUTuart_tx/r_Bit_Index_1" BEL "UUTuart_tx/r_Bit_Index_0" BEL
        "UUTuart_tx/r_TX_Data_7" BEL "UUTuart_tx/r_TX_Data_6" BEL
        "UUTuart_tx/r_TX_Data_5" BEL "UUTuart_tx/r_TX_Data_4" BEL
        "UUTuart_tx/r_TX_Data_3" BEL "UUTuart_tx/r_TX_Data_2" BEL
        "UUTuart_tx/r_TX_Data_1" BEL "UUTuart_tx/r_TX_Data_0" BEL
        "UUTuart_tx/r_TX_Done" BEL "i_Clk_BUFGP/BUFG" BEL
        "UUTuart_rx/Mshreg_r_RX_Data" BEL "UUTuart_rx/r_RX_Data";
TS_clk = PERIOD TIMEGRP "i_Clk" 10 ns HIGH 50%;
SCHEMATIC END;

